<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="css/sealook.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="magic/magic.min.css">
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.3/ScrollTrigger.min.js"></script>
</head>

<body>
    <header>
        <img src="img/bg.png" id="bg">
        <img src="img/c1.png" id="c1">
        <img src="img/c2.png" id="c2">
        <img src="img/sl2.png" id="sl2">
        <img src="img/sl3.png" id="sl3">
        <img src="img/sl1.png" id="sl1">
        <img src="img/logo.png" id="logo1">


    </header>
    <script>
        gsap.to("#c1", {
            scrollTrigger: {
                scrub: 1
            },
            x: 800
        });
        gsap.to("#c2", {
            scrollTrigger: {
                scrub: 1
            },
            x: -800
        });
        gsap.to("#sl1", {
            scrollTrigger: {
                scrub: 1
            },
            x: -500
        });
        gsap.to("#sl2", {
            scrollTrigger: {
                scrub: 1
            },
            scale: 1.2
        });
        gsap.to("#sl3", {
            scrollTrigger: {
                scrub: 1
            },
            x: 500
        });
    </script>

    <div id="top">
        <div class="row">
            <div class="col-md-8 col-sm-8  ">
                <img src="img/logo02.png" class="img-fluid w-30 ms-5" id="logo2">
                <div id="b1" class="dropdown  mx-5 "><!--  b1為隱藏下拉式選單  -->
                    <a class="btn btn-secondary dropdown-toggle" style="background:rgb(241, 167, 20); " href="#"
                        role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        主選單
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown-item" href="#">首頁</a></li>
                        <li><a class="dropdown-item" href="#role">角色介紹</a></li>
                        <li><a class="dropdown-item" href="#">精彩影片</a></li>
                        <li><a class="dropdown-item" href="#contact">留言板</a></li>
                    </ul>

                </div>

            </div>

            <div id="titl" class="col-md-4 col-sm-4  ">
                <div><br><br></div>
                <div class="row">
                    <li class="col-md-3 col-sm-3 "><a href="#">首頁</a></li>
                    <!-- <li class="me-4"><a  class="btn" style="background:rgb(241, 167, 20);"  data-bs-toggle="collapse" href="#rolelook" aria-expanded="false" aria-controls="rolelook">角色介紹&目錄</a></li> -->
                    <li class="col-md-3 col-sm-3 "><a href="#role">角色介紹</a></li>
                    <li class="col-md-3 col-sm-3 "><a class="btn" style="background:rgb(241, 167, 20); "
                            data-bs-toggle="collapse" href="#videolook" role="button" aria-expanded="false"
                            aria-controls="videolook">精彩影片</a>
                    </li>
                    <li class="col-md-3 col-sm-3 "><a href="#contact">留言板</a></li>
                </div>

            </div>


        </div>



    </div>



    <!--中心白色區塊  -->
    <article class="container">
        <div class=" bg-white mx-2">
            <div> <!--width="1280" height="500" -->
                <iframe id="video"
                    src="https://www.youtube.com/embed/videoseries?autoplay=1&mute=1&loop=1&list=PLLScQn6wSeQv14CILPHWexIAhl9xzvEvO"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
            <div class="mx-5 mt-5">
                <h1>精彩影片賞析</h1>
                <button class="btn" type="button" style="background:  rgb(241, 167, 20); " data-bs-toggle="collapse"
                    data-bs-target="#videolook" aria-expanded="false" aria-controls="videolook">
                    close
                </button>
            </div>
            <div class="collapse mt-5 mx-5" id="videolook">
                <!-- <button class="btn" type="button" style="background:  rgb(241, 167, 20); " data-bs-toggle="collapse"
                    data-bs-target="#videolook" aria-expanded="false" aria-controls="videolook">
                    close
                </button> -->
                <div>

                    <p>***小叮嚀***<br>上面影片會循環播放"sealook"全集數，旁邊有播放清單，可以選擇自己想看的集數，<br>
                        本人最喜歡的集數是:EP04取暖 ㄎㄟˋ修、EP23 放屁的威力(在"It Stinks!"合集裡)、EP25 吃過頭(在"卡住"合集裡)、EP61 你看不見我嗎?、EP62
                        擾人清夢的最高境界、EP73小題大作、EP76 我只想好好吃頓飯</p>
                </div>
            </div>

            <div class="mt-5 mx-5 rounded" style="background:rgb(249, 235, 208);">
                <h1 id="anmation1">動畫簡介:</h1>
                <p>"sealook"由全球熱門動畫系列“幼蟲”的創作者所創立的動畫工作室 Million Volt 一起製作，這部無對話動畫採用全
                    3D製作，講述了一群外表和性格各不相同的海豹在冰雪覆蓋、和平寒冷的土地上進行喜劇冒險的旅程。
                    以在野生動物保護區觀察到的帶標籤的海豹為中心，每一集都聚焦不同的海豹，它們通過有趣而溫馨的方式應對生活中古怪而古怪的挑戰。</p>
            </div>
            <div class="mt-5 mx-5">
                <h1 class="mb-5">出場海豹品種介紹:</h1>
                <div class="row mb-5">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="img/豎琴海豹.png" alt="sdfd" class=" img-fluid rounded-3 float-end " style="width:80%;">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <p class="my-5">豎琴海豹共有6個外貌階段，分別是幼年期("白袍（whitecoats"、"夾克（ragged
                            Jackets)"、青少年期("拍打者(beater)"、"混亂者(bedlamers)")、青壯年期("斑點豎琴(spotted harp)")、完全成年期("成熟豎琴(old
                            harp)")，
                            動畫中至少畫了豎琴海豹的四種階段;幼年階段以031、041、042、043海豹為年幼白團子階段也就是"whitecoats";青少年時期以001、016、046、038海豹原形為"拍打者(beater)"型態，而在“bedlamer”這個階段特徵非常混亂，身體未達到成年尺寸，顏色以銀灰色為主，有一些散落的棕黑色斑點;
                            青壯年期(spotted
                            harp的海豹)有005、044，044可能還參考了小浣熊的配色，在這個階段的海豹通常即將或已經開始生育，豎琴紋也開始顯現，斑點變淺但仍然可見，過一段時間斑點就會完全消褪，就會變成"old
                            harp"完全成熟型態;
                            完全成年期("成熟豎琴(old
                            harp)")有003、026、035，雄性豎琴海豹會突然出現黑色的"豎琴"花紋，這花紋是成年皮毛的特徵，雌性的轉變較慢，可能需要很多年。實際上，有些雌性豎琴海豹從未失去所有斑點或是沒有形成完整的"豎琴"花紋
                        </p>
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <p class="my-5">在sealook中，除了豎琴海豹外，也會看到其他海豹的身影，029和045原型可能是參考了灰海豹，
                            029出場於和016合唱那一集，兩個會一起合唱，但唱歌時間總是不合時宜，灰海豹配色會偏黑或偏棕，這都是正常範圍的
                            045的造型花紋分布參考灰海豹，配色則是參考黃鼬，可能是因為045放屁很臭才給他這種配色的。
                        </p>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="img/灰海豹.jpg" alt="sdfd" class=" img-fluid  rounded-3" style="width:70%;">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="img/髯海豹.jpg" alt="sdfd" class=" img-fluid rounded-3 float-end" style="width:70%;">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <p class="my-5">
                            髯海豹代表是006、030，嘴、吻寬而肉質(俗稱肉肉嘴)，兩鼻孔相隔遠。觸鬚多，長而密，呈淡色，潮濕時的觸鬚是直的，乾時，頂端向內捲曲。“髯海豹”之名來自特別顯著的大鬍子；雄性髯海豹是所有海洋動物中最善於表達聲音的動物之一。它們特製的「歌曲」可以持續長達一分鐘以上。
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <p class="my-5">
                            環海豹代表是010，有黑色的皮膚，有四個白斑紋：一條白條繞著頸部，一條繞著尾部，其身軀左右兩邊各有一條白條，雄性身上黑白分明顯著，而雌性就相對地沒那麼明顯的對比。
                        </p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="img/環海豹.jpg" alt="sdfd" class=" img-fluid  rounded-3" style="width:70%;">
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <img src="img/環班海豹.jpg" alt="sdfd" class=" img-fluid  rounded-3 float-end" style="width:70%;">
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12 ">
                        <p class="my-5">環班海豹代表是013，北極中最小隻也是數量最多、分佈最廣的
                            海豹，因具有特徵性的黑色斑點，斑點圖案周圍環繞著淺灰色環而得。
                        </p>
                    </div>
                </div>

            </div>
            <div class="mt-5  mx-5 rounded" id="role" style="background:rgb(249, 235, 208);">

                <h1>角色介紹&目錄</h1>
                <button class="btn mt-5 mx-5" type="button" style="background: rgb(241, 167, 20);"
                    data-bs-toggle="collapse" data-bs-target="#rolelook" aria-expanded="false" aria-controls="rolelook">
                    全部海豹
                </button>

                <button class="btn mt-5 mx-5" type="button" style="background: rgb(241, 167, 20);"
                    data-bs-toggle="collapse" data-bs-target="#rolelook2" aria-expanded="false"
                    aria-controls="rolelook2">
                    音樂魅力
                </button>
                 <button class="btn mt-5 mx-5" type="button" style="background: rgb(241, 167, 20);"
                    data-bs-toggle="collapse" data-bs-target="#rolelook3" aria-expanded="false"
                    aria-controls="rolelook3">
                    迷人的魅力
                </button>
                <button class="btn mt-5 mx-5" type="button" style="background: rgb(241, 167, 20);"
                    data-bs-toggle="collapse" data-bs-target="#rolelook4" aria-expanded="false"
                    aria-controls="rolelook4">
                    療育大師
                </button>
            </div>
            <div class="collapse  mx-5 rounded" id="rolelook" style="background:rgb(249, 235, 208);">

                <div>

                    <section id="portfolio" class="bg-light-gray">
                        <div class="container">
                            <div class="row">
                                <div id="err" v-for="item in Portfolio"
                                    class="col-md-4 col-sm-6 col-xs-12 portfolio-item ">
                                    <a v-bind:href="item.href" class="portfolio-link" data-bs-toggle="modal">
                                        <div class="portfolio-hover">
                                            <div class="portfolio-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img v-bind:src="item.imgSrc" class="w-100" alt="">
                                    </a>
                                    <div class="portfolio-caption " style="background: rgb(241, 167, 20);">
                                        <h4>{{item.title}}</h4>
                                        <p class="text-muted">{{item.title2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    
                   
                </div>
            </div>

            <div class="collapse  mx-5 rounded" id="rolelook2" style="background:rgb(249, 235, 208);">

                <div>
                    <section id="portfolio2" class="bg-light-gray">
                        <div class="container">
                            <div class="row">
                                <div id="err2" v-for="item in Portfolio2"
                                    class="col-md-4 col-sm-6 col-xs-12 portfolio2-item ">
                                    <a v-bind:href="item.href" class="portfolio2-link" data-bs-toggle="modal">
                                        <div class="portfolio2-hover">
                                            <div class="portfolio2-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img v-bind:src="item.imgSrc" class="w-100" alt="">
                                    </a>
                                    <div class="portfolio2-caption " style="background: rgb(241, 167, 20);">
                                        <h4>{{item.title}}</h4>
                                        <p class="text-muted">{{item.title2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>

            <div class="collapse  mx-5 rounded" id="rolelook3" style="background:rgb(249, 235, 208);">

                <div>

                    <section id="portfolio3" class="bg-light-gray">
                        <div class="container">
                            <div class="row">
                                <div id="err3" v-for="item in Portfolio3"
                                    class="col-md-4 col-sm-6 col-xs-12 portfolio3-item ">
                                    <a v-bind:href="item.href" class="portfolio3-link" data-bs-toggle="modal">
                                        <div class="portfolio3-hover">
                                            <div class="portfolio3-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img v-bind:src="item.imgSrc" class="w-100" alt="">
                                    </a>
                                    <div class="portfolio3-caption " style="background: rgb(241, 167, 20);">
                                        <h4>{{item.title}}</h4>
                                        <p class="text-muted">{{item.title2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <div class="collapse  mx-5 rounded" id="rolelook4" style="background:rgb(249, 235, 208);">

                <div>
                    <section id="portfolio4" class="bg-light-gray">
                        <div class="container">
                            <div class="row">
                                <div id="err4" v-for="item in Portfolio4"
                                    class="col-md-4 col-sm-6 col-xs-12 portfolio4-item ">
                                    <a v-bind:href="item.href" class="portfolio4-link" data-bs-toggle="modal">
                                        <div class="portfolio4-hover">
                                            <div class="portfolio4-hover-content">
                                                <i class="fa fa-plus fa-3x"></i>
                                            </div>
                                        </div>
                                        <img v-bind:src="item.imgSrc" class="w-100" alt="">
                                    </a>
                                    <div class="portfolio4-caption " style="background: rgb(241, 167, 20);">
                                        <h4>{{item.title}}</h4>
                                        <p class="text-muted">{{item.title2}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                   
                </div>
            </div>

            <section id="contact" class="mt-5 mx-5">
                <div class="container rounded-3 " style="background:rgb(249, 235, 208);">
                    <div class="row ">
                        <div class="col-lg-12 text-center">
                            <h1 class="section-heading">留言板</h1>
                            <h4 class="section-subheading text-muted">留下你的看法吧!</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <form name="sentMessage" id="contactForm" action="/contact " method="POST"
                                enctype="multipart/form-data">
                                <!-- method="Post" serve.post接收  enctype="multipart/form-data" -->
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Name *" id="href"
                                                name="href" required
                                                data-validation-required-message="Please enter your name.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                        <!-- <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Your Email *" id="email" name="email"
                                        required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div> -->
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Your Phone *"
                                                id="title" name="title" required
                                                data-validation-required-message="Please enter your phone number.">
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <input class="form-control" placeholder="Your Message *" id="title2"
                                                name="title2" required
                                                data-validation-required-message="Please enter a message."></textarea>
                                            <p class="help-block text-danger"></p>
                                        </div>
                                    </div>
                                    <div class="col-md-6"><!-- 選擇檔案 -->
                                        <div class="form-group">
                                            <input class="form-control" type="file" accept="imgge/*" name="imgSrc"
                                                id="imgSrc"><!-- type類型 accept控制檔案類型   -->
                                        </div>

                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-lg-12 text-center">
                                        <div id="success"></div>
                                        <button type="submit" class="btn btn-xl"
                                            style="background:rgba(173, 216, 224, 0.765);">傳送</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>



        </div>
    </article>

</body>
<script src="/vue/vue.min.js"></script>
<script src="jquery/jquery.min.js"></script>
<script>
    //  滑鼠處碰加載動畫
    $('#anmation1').hover(function () {
        $(this).stop(true, true).toggleClass('magictime slideRightReturn');

    }, function () {
        $(this).stop(true, true).addClass('magictime slideRightReturn');

    });



    // setInterval(function(){// 一定時間後加載動畫但無限循環
    //    $('#err').toggleClass('magictime swashIn');
    // }, 3000 );

</script>
<script>
    var myObject = new Vue({
        el: "#portfolio",
        //  data: {Portfolio:[
        //     {href: "#portfolioModal1",imgSrc:"img/000.jpg",title:"000 幽靈豹",title2:"是一隻透明看不到的海豹，出場有幽靈bgm"},
        //    {href: "#portfolioModal1",imgSrc:"img/001.jpg",title:"001 略略豹",title2:"會一直略略略和逗鳥跟吵其他海豹睡覺"},
        //    {href: "#portfolioModal1",imgSrc:"img/002.jpg",title:"002 柴犬豹",title2:"以柴犬梗圖為原型，有豆豆眉，喜歡跳舞"},
        //    {href: "#portfolioModal1",imgSrc:"img/003031.jpg",title:"003&031 不靠普豹爸&可憐兒子",title2:"豹爸常坑兒子，有父愛但不多;豹兒子是獨立堅強的孩子"},
        //    {href: "#portfolioModal1",imgSrc:"img/004.jpg",title:"004 假髮豹",title2:"會唱歌兼用海草做假髮"},
        //    {href: "#portfolioModal1",imgSrc:"img/005.jpg",title:"005 鼻涕豹",title2:"比一般豹體溫還低，常流鼻涕和靠著別人睡覺"},
        //    {href: "#portfolioModal1",imgSrc:"img/006.jpg",title:"006 Asmr大師豹",title2:"感性、會Asmr，曾誤以為晚上有鯨魚叫聲，結果是045的屁聲"},
        //    {href: "#portfolioModal1",imgSrc:"img/010.jpg",title:"010 DJ豹",title2:"原型為環海豹，會DJ，常跟002搭檔表演"},
        //    {href: "#portfolioModal1",imgSrc:"img/011.jpg",title:"011 哈欠豹",title2:"常失眠、打哈欠(哈欠會傳染)需靠006的Asmr入眠"},
        //    {href: "#portfolioModal1",imgSrc:"img/012015.jpg",title:"012&015 吊胃口豹女友&怨種豹",title2:"012只想吃015的魚；015"},
        //    {href: "#portfolioModal1",imgSrc:"img/013.jpg",title:"013 街舞豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/016.jpg",title:"016 ㄟ歐豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/017.jpg",title:"017 指揮家豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/018.jpg",title:"018 香香豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/023.jpg",title:"023 社恐豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/026.jpg",title:"026 彈簧豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/027.jpg",title:"027 愛與和平豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/028.jpg",title:"028 Drama queen豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/029.jpg",title:"029 合唱豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/030.jpg",title:"030 氣勢豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/032.jpg",title:"032 笑笑豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/035.jpg",title:"035 靠普豹媽",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/038.jpg",title:"038 狂吃豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/040.jpg",title:"040 冰洞唱歌豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/041042043.jpg",title:"041&042&043 小海豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/044.jpg",title:"044 強運豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/045.jpg",title:"045 臭屁豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/046.jpg",title:"046 睡到不省人事豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/048.jpg",title:"048 樹懶豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/088.jpg",title:"088 賽車豹",title2:"Graphic Design"},
        //    {href: "#portfolioModal1",imgSrc:"img/BEAR.jpg",title:"北極熊",title2:"Graphic Design"}
        // ]}
        data: { Portfolio: [] }
    })

    var myObject2 = new Vue({
        el: "#portfolio2",

        data: { Portfolio2: [] }
    })
    var myObject3 = new Vue({
        el: "#portfolio3",

        data: { Portfolio3: [] }
    })
    var myObject4 = new Vue({
        el: "#portfolio4",

        data: { Portfolio4: [] }
    })
    $.ajax({
        url: "/portfolio",
        method: "get",
        dataType: "json",
        success: function (data) {
            myObject.Portfolio = data;
        }
    })
    $.ajax({
        url: "/portfolio2",
        method: "get",
        dataType: "json",
        success: function (data) {
            myObject2.Portfolio2 = data;
        }
    })
    $.ajax({
        url: "/portfolio3",
        method: "get",
        dataType: "json",
        success: function (data) {
            myObject3.Portfolio3 = data;
        }
    })
    $.ajax({
        url: "/portfolio4",
        method: "get",
        dataType: "json",
        success: function (data) {
            myObject4.Portfolio4 = data;
        }
    })   
</script>

</html>